*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;


}
.color-orange{
    color: #FD6E0A;

}
.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
   color: azure;
   cursor: pointer;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png) , url(../images/header_bg.png) , #FFF8F3;
    background-repeat: no-repeat  ;
    background-size: auto;
    padding-top: 50px;
    background-position:10px 15px , bottom right  ;
    height: 780px;
}

nav{
    width: 72%;
    max-width: 1240px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 15px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 48px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    
}
#banner .banner-content {
    max-width: 585px;
}


#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
   max-width: 600px;
   height: 623px;
   vertical-align: text-bottom;

}

#about {
    padding-top: 130px;
    margin: 0 auto;
}
#about .about-container{
    width: 72%;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
}

#skills {
    padding-top: 130px;
}
#skills .skills-container{
    width: 72%;
    max-width: 1240px;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 25px;
}
#skills .skills-container .skill-box .skill-card{
    /* border: 1px solid red; */
    padding: 30px;
    max-width: 285px;
    box-shadow:0 6px 50px 0 #00000052 ;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;  
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
     font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
    /* margin-top: 40px; */
}
  

#resume{
    padding-top: 130px;
}

.resume-container{
    width: 72%;
    max-width: 1240px;
    margin: 113px auto 0px;
    display: flex;
    gap: 70px;
}
.resume-container hr{
    margin: 30px 0px;
}
.resume-container .section-title{
    color: #474747;
    font: size 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 512px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 15px;
   line-height: 25px;
    margin-bottom: 10px;
    color: #474747ca;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding-bottom: 130px;
}

footer .footer-container{
    width: 72%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 115px;
    padding-top: 70px;
}
.footer-container .social{
    max-width: 570px;
}
.footer-container h2{
    font-size: 24px;
    /* font-weight: bold; */
    color: #181818;
    margin-bottom: 18px;
    /* padding-top: 20px; */
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 28px;

}

.footer-container form input[type="text"] 
 {
     width: 480px;
    padding: 19px 34px;
    margin-bottom: 25px;
    border: none;
    border-radius: 7px;
    color: #757575;
}
.footer-container form textarea {
     width: 480px;
    padding: 19px 34px;
    margin-bottom: 25px;
    border: none;
    border-radius: 7px;
    color: #757575;

}


